html {
    margin: 0;
    padding: 0;
} body {
    margin: 0;
    padding: 0;
    background-color: rgba(255,250,246,1);
    width: 100%;
    height: 100%;
} p,a,h1,h2,h3,h4,h5,h6 {
    color: #000000;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    text-decoration: none;
} h1 {
    font-size: 2.25em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0em;
    margin-right: 0em;
} h2 {
    font-size: 1.75em;
    margin-top: .75em;
    margin-bottom: .75em;
    margin-left: .1em;
    margin-right: 0em;
    padding-bottom: .3em;
    border-bottom: 1px solid #9a9a9a;
} h3 {
    font-size: 1.5em;
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: .2em;
    margin-right: 0em;
} h4 {
    font-size: 1.25em;
    margin-top: .4em;
    margin-bottom: .4em;
    margin-left: 0em;
    margin-right: 0em;
} h5 {
    font-size: 1em;
    margin-top: .3em;
    margin-bottom: .3em;
    margin-left: 0em;
    margin-right: 0em;
} h6 {
    font-size: 1em;
    margin-top: .2em;
    margin-bottom: .2em;
    margin-left: 0em;
    margin-right: 0em;
} p {
    font-size: 1em;
    margin-top: .1em;
    margin-bottom: .1em;
    margin-left: .1em;
    margin-right: 0em;
} a {
    font-size: 1em;
    margin-top: .1em;
    margin-bottom: .1em;
    margin-left: 0em;
    margin-right: 0em;
} code {
    font-family: Consolas,"courier new";
    font-size: 1em;
    border: 1px solid #d0d0d0;
    border-radius: .5em;
    background-color: #d0d0d0;
} .menuBar {
    margin: 0;
    padding: 0;
    float: left;
    width: 15%;
    height: 100%;
    background-color: rgba(184,159,134,1);
    display: table;
} .menuItemLogo,.menuItemHome,.menuItemProjects,.menuItemHelp,.menuItemAbout,.menuItemGitHub {
    margin-top: 8%;
    margin-left: 2%;
    padding: 0;
    width: 92%;
    height: 12%;
    display: table-cell;
    float: left;
    background-color: #4d4d4d;
    border-radius: 15px;
    background-size: 100% 100%;
} .menuLink {
    display: none;
    width: 100%;
    height: 100%;
} .content {
    float: right;
    height: 100%;
    width: 85%;
}


.menuItemLogo {
    background-image: url(images/icons/logo.png);
} .menuItemHome {
    background-image: url(images/icons/home.png);
} .menuItemProjects {
    background-image: url(images/icons/projects.png);
} .menuItemHelp { 
    background-image: url(images/icons/help.png);
} .menuItemAbout {
    background-image: url(images/icons/about.png);
} .menuItemGitHub {
    background-image: url(images/icons/github.png);
}
