<div class="cover-container d-flex w-100 p-3 mx-auto flex-column">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a href="#" class="navbar-brand">Harry Saliba</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">About</a>
          <div class="dropdown-menu">
            <a href="#about" class="dropdown-item">About Me</a>
            <a href="#experience" class="dropdown-item">Experience</a>
            <a href="#education" class="dropdown-item">Education</a>
            <a href="#certifications" class="dropdown-item">Certifications</a>
            <a href="#leadership" class="dropdown-item">Leadership</a>
            <a href="#skills" class="dropdown-item">Skills</a>
          </div>
        </li>
        <li class="nav-item">
          <a href="#contact" class="nav-link">Contact Me</a>
        </li>
        <li class="nav-item">
          <a href="#interests" class="nav-link">Interests</a>
        </li>
      </ul>
      <div class="d-flex flex-row">
        <a href="https://www.linkedin.com/in/harry-saliba/"><i class="fab fa-linkedin m-1 text-dark"></i></a>
        <a href="https://twitter.com/harrysaliba4139"><i class="fab fa-twitter-square m-1 text-dark"></i></a>
        <a href="https://github.com/hbod8"><i class="fab fa-github-square m-1 text-dark"></i></a>
        <a href="https://www.instagram.com/salibaharry/"><i class="fab fa-instagram-square m-1 text-dark"></i></a>
      </div>
    </div>
  </nav>
  <div class="mt-5" id="about">
    <div class="d-flex flex-column flex-lg-row align-items-center">
      <img src="../assets/portrait.png" alt="Portrait" height="200" width="200" class="img-fluid rounded-circle">
      <p class="display-4 p-2">About Me</p>
    </div>
    <p class="p-5">My name is Harry Saliba, I am a Software Developer with a focus on cloud based user applications. I am originally from Boston, MA, but spent the majority of my life in Seattle and Bellingham, WA.</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div id="experience">
          <div class="d-flex flex-column flex-lg-row align-items-center">
            <p class="h3">Experience</p>
          </div>
          <div class="mt-3 card" id="experiance">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <p class="h5 card-title">Full Stack Developer</p>
                <p class="h6 card-title">Huurb LLC - 2018 - 2020</p>
                <p class="card-text">Lead technology developer in charge of developing an application stack for processing requests, users and business data.</p>
              </li>
              <li class="list-group-item">
                <p class="h5 card-title">Computer Science Tutor</p>
                <p class="h6 card-title">Western Washington University - Spring 2021</p>
                <p class="card-text">Assisted students in completing assignments and understanding computer science topics.</p>
              </li>
              <li class="list-group-item">
                <p class="h5 card-title">Lead Sailing Instructor</p>
                <p class="h6 card-title">Bellingham Community Boating Center - Summer 2020</p>
                <p class="card-text">Created curriculum and lead lessons on multiple sailboats and for all ages.</p>
              </li>
              <li class="list-group-item">
                <p class="h5 card-title">Sailing Instructor</p>
                <p class="h6 card-title">Western Washington University - Summer 2019</p>
                <p class="card-text">Taught group and private lessons to all ages.</p>
              </li>
              <li class="list-group-item">
                <p class="h5 card-title">Lead Sailing Instructor</p>
                <p class="h6 card-title">Bainbridge Island Parks & Rec - Summer 2016 - Summer 2018</p>
                <p class="card-text">Organized, ran, and lead group lessons for ages 8 - 18.</p>
              </li>
              <li class="list-group-item">
                <p class="h5 card-title">Assistant Sailing Instructor</p>
                <p class="h6 card-title">Arey's Pond Boat Yard - Summer 2015</p>
                <p class="card-text">Taught group and private lessons on classic wooden boats. Answered phone class and scheduled lessons and charters.</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="mt-4 mt-xl-0" id="skills">
          <div class="d-flex flex-column flex-lg-row align-items-center">
            <p class="h3">Skills</p>
          </div>
          <div class="mt-3 card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Azure, AWS</li>
              <li class="list-group-item">Docker, Kubernetes</li>
              <li class="list-group-item">SQL, PostgreSQL, MongoDB</li>
              <li class="list-group-item">C, C++, C#, .NET</li>
              <li class="list-group-item">Java</li>
              <li class="list-group-item">JavaScript, TypeScript, Angular.io, Node.js</li>
              <li class="list-group-item">Scheme, Lisp, Haskell</li>
              <li class="list-group-item">HTML, CSS, PHP, LAMP Stack</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="mt-4 mt-xl-0" id="education">
          <div class="d-flex flex-column flex-lg-row align-items-center">
            <p class="h3">Education</p>
          </div>
          <div class="mt-3 card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <p class="h5 card-title">Computer Science BA</p>
                <p class="h6 card-title">Western Washington University - 2021</p>
                <p class="card-text">Beyond required coursework, completed multiple courses in web design, and mathematics.</p>
              </li>
              <li class="list-group-item">
                <p class="h5 card-title">High School</p>
                <p class="h6 card-title">Bainbridge High School - 2017</p>
                <p class="card-text">Completed AP Computer Science.</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="mt-4 mt-xl-0" id="certifications">
          <div class="d-flex flex-column flex-lg-row align-items-center">
            <p class="h3">Certifications</p>
          </div>
          <div class="mt-3 card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <p class="h5 card-title">US Sailing Small Boat Instructor Level 1</p>
                <p class="h6 card-title">US Sailing - Iss. May 2016 - Exp. May 2022</p>
                <p class="card-text">Core instruction concepts such as preparing curriculum, giving presentations, and understanding student comprehension.</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="mt-4 mt-xl-0" id="leadership">
          <div class="d-flex flex-column flex-lg-row align-items-center">
            <p class="h3">Leadership</p>
          </div>
          <div class="mt-3 card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <p class="h5 card-title">Team Captain</p>
                <p class="h6 card-title">WWU Sailing - 2020 - 2021</p>
                <p class="card-text">Ran meetings, communicated with the university, managed a budget, and created instruction materials during the pandemic.</p>
              </li>
              <li class="list-group-item">
                <p class="h5 card-title">Club President</p>
                <p class="h6 card-title">WWU Motorcycle Club - 2020 - 2021</p>
                <p class="card-text">Organized group rides, recruited new members, and ran the facebook page.</p>
              </li>
              <li class="list-group-item">
                <p class="h5 card-title">Team Captain</p>
                <p class="h6 card-title">Bainbridge High School Sailing - 2016 - 2017</p>
                <p class="card-text">Scheduled practice, represented the team in the district, recruited new members, and sat in on budget committee.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5" id="contact">
    <div class="d-flex flex-column flex-lg-row align-items-center">
      <p class="display-4 p-2">Contact Me</p>
    </div>
    <div class="d-flex flex-md-row flex-column justify-content-around">
      <div class="d-flex flex-column flex-lg-row align-items-center">
        <i class="bigger m-3 fas fa-phone"></i>
        <p class="m-3 h4">(206) 963 9898</p>
      </div>
      <div class="d-flex flex-column flex-lg-row align-items-center">
        <i class="bigger m-3 fas fa-envelope"></i>
        <p class="m-3 h4">harry@harry.technology</p>
      </div>
    </div>
  </div>
  <div class="mt-5" id="interests">
    <div class="d-flex flex-column flex-lg-row align-items-center">
      <p class="display-4 p-2">Interests</p>
    </div>
  </div>
  <div class="interest-card-container d-xl-flex align-content-between flex-column flex-wrap">
    <div class="resume-card">
      <div class="mt-3 card">
        <img src="../assets/buoy.jpg" alt="Motorcycle at Artists Point WA." class="card-img-top">
        <div class="card-body">
          <p>My senior project was creating a connected device called a Water Weather Station that allows students to crowd source weather data.</p>
        </div>
      </div>
    </div>
    <div class="resume-card">
      <div class="mt-3 card">
        <img src="../assets/team.jpg" alt="Sailors at San Francisco." class="card-img-top">
        <div class="card-body">
          <p>As a junior on the WWU Sailing Team I attened an invitational regatta at Stanford. We compeated in a form of racing called Team Racing in which groups of 3 boats work together to win races.</p>
        </div>
      </div>
    </div>
  </div>
</div>